.tree-views{
  max-width: 400px;
}
.node-its{
    display: flex;
    margin-top: 10px;

    height: 40px;
    margin-left: 10px;
 
  }
  .btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid rgb(248, 248, 248);
    background-color: white;
  }
  .node-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .node-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
  }
  

  
  